{% load static %}
<html>
<head>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet'>
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>

<title>
Jacob Bradford | Website of programmamer Jacob Bradford
</title>
<body>
<div class="page-header">
{% if user.is_authenticated %}
<a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
{% endif %}
<h1><a href="{% url 'post_list' %}">&#60Jacob Bradford's Blog&#62</a></h1>
</div>
<div class="bio">
<img src="https://i.pinimg.com/474x/2c/ca/26/2cca26c76f6f48097483a0b3fe3c6edd.jpg" alt="Jacob"  width="333" height="500">
<p> Welcome to my blog <br> I post about programming <br> and other various topics <br> I'm interested in here
<div>
</div>
</div>
<div class="content container">
<div class="row">
<div class="col-md-8">
{% block content %}
{% endblock %}
</div>
</div>
</div>
</body>
<div class="bottom">
Made with Django API | Hosted on Pythonanywhere
</div>
</html>