{% extends 'blog/cv_base.html' %}
{% block content %}
<h1>Profile</h1>
<p class="Main">Qualified in programming and IT, an experienced mathematician, a reliable, methodical and cooperative worker.</p>
<p>I am a first-year computer science student studying at the University of Birmingham, a place I received from methodical study and dedication during my A-levels, this has subsequently made me and organised and consistent. My previous work as a cleaner has made me meticulous and self-reliant. Volunteering at a local heritage site has given me skills in interacting with visitors and being flexible applying myself to a variety of activities E.G family activities, events and living history. I have completed my Bronze Duke of Edinburgh, although difficult I pushed myself through and learnt valuable lessons on teamwork and dedication, I subsequently went on to do the Gold Duke of Edinburgh award and am halfway through completing it showing commitment.</p>
<h1 class="Title">Education</h1>
<h2>Strode College (2017-2019)</h2> 
	<p>A-levels: AAA achieved in AQA Maths, AQA Computer science and OCR History</p>
	<p>AS Levels: A achieved in AQA Maths and AQA Computer science, B achieved in OCR History and C achieved in Theatre Studies</p>
	<p>Extended Project Qualification: A* achieved writing an essay on the implications on our society of the technological singularity</p>
<h2>Crispin School (2011-2017)</h2>
	<p>GCSEs: 9 GCSEs achieved with a 7 in Mathematics and an 8 in English Language and Literature</p>
	<p>Bronze Duke of Edinburgh</p>
	<p>ASDAN Improving Own Learning & Performance: An extra curriculum essay written on Video Game's effects on people</p>
<h1 class="Title"Employment</h1>
<h2>Cleaner for Fairfield Montessori (2017-2019)</h2>
<p>-	Cleaning the Montessori every weekday evening, I was consistent in always working when I was able to</p>
<p>-	Methodical in always assuring the building was in a suitable condition</p>
<p>-	Willingness to exceed normal expectations if asked to clean an extra area</p>

<h1 class="Title">Volunteering</h1>
<h2>Glastonbury Abbey (2016-Current)</h2>
<p>-	I participated in living history dressing up in a medieval costume and interacting with visitors </p>
<p>-	For events, I would haul heavy pieces of equipment, stand watch at rails and on providing services for acts, this variety of tasks has made me flexible and I can apply myself in many situations</p>
<p>-	Many activities required me to work in a team giving me the ability to	 cooperate with fellow staff to keep events running smoothly</p>

<h1 class="Title">Activities and Interests</h1>
<p>Actor: I participated and continue to participate in musicals and performances as an actor, I have learnt how to work in a team and how to present myself when talking to an audience. I hold a Distinction in a Level 2 acting with pairs from Trinity College London.</p>
<p>Programmer: I enjoy programming projects such as small applications and video games, I can program in Visual Basic and Game Maker Language (A language commonly compared to JavaScript and C-like languages)</p>
<p>Gym: I attend the gym at least once a week to keep myself fit and healthy</p>
{% endblock %}