{% extends 'blog/cv_base.html' %}
{% block content %}
<p class="Main"><strong>Qualified in programming and IT, an experienced mathematician, a reliable, methodical and cooperative worker.</strong></p>
<p>A second-year computer science student studying at the <b>University of Birmingham</b>, a place received from methodical study and dedication during my A-levels. Previous jobs and volunteering have made me <b>meticulous, self-reliant, flexible</b> and given me <b>skills in interacting with customers and teammates</b>. Completed the <b>Bronze Duke of Edinburgh</b>, although difficult it has taught valuable lessons on teamwork and dedication, subsequently went on to do the <b>Gold Duke of Edinburgh</b> award which is halfway to completion</p>
<h1 class="Title">Education</h1>
<h2>Strode College (2017-2019)</h2> 
	<p>A-levels: <b>AAA</b> achieved in AQA Maths, AQA Computer science and OCR History</p>
	<p>AS Levels: <b>A</b> achieved in AQA Maths and AQA Computer science, <b>B</b> achieved in OCR History and <b>C</b> achieved in Theatre Studies</p>
	<p>Extended Project Qualification: <b>A*</b> achieved writing an essay on the implications on our society of the technological singularity</p>
<h2>Crispin School (2011-2017)</h2>
	<p>GCSEs: 9 GCSEs achieved with a <b>7</b> in Mathematics and an <b>8</b> in English Language and Literature</p>
	<p><b>Bronze Duke of Edinburgh</b></p>
	<p>ASDAN Improving Own Learning & Performance: An extra curriculum essay written on Video Game's effects on people</p>
<h1 class="Title">Programming</h1>
<p>-	Known languages: <b>Java,  HTML, CSS, Visual Basic, and Game Maker Language</b> (A language commonly compared to JavaScript and C-like languages)<p>
<p>-	Experience in <b>Python, Javascript, SQL</b></p>
<h1 class="Title">Volunteering</h1>
<h2>Glastonbury Abbey (2016-Current)</h2>
<p>-	Participated in living history dressing up in costumes and interacting with visitors. <b>Confident</b> </p>
<p>-	For events, haul heavy equipment, watch rails and provide services for acts. <b>Flexible</b></p>
<p>-	Work often involded being in a team. <b>Cooperative</b></p>
<h1 class="Title">Employment</h1>
<h2>Cleaner for Fairfield Montessori (2017-2019)</h2>
<p>-	Cleaning the Montessori every weekday evening. <b>Consistent</b></p>
<p>-	Always assuring the building was in a suitable condition. <b>Methodical</b></p>
<h1 class="Title">Activities and Interests</h1>
	<p>Actor: Participation in musicals and performances as an actor. I hold a <b>Distinction</b> in a Level 2 acting with pairs from Trinity College London.</p>
	<p>Programmer: Enjoyment making projects such as small applications and video games. I have attended and been a <b>winner at Hack the Midlands</b> Hackathon </p>
	<p>Exercise: Attend the gym and jog at least once a week for my health</p>


{% endblock %}