{% load static %}
<html>
<head>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link href='https://fonts.googleapis.com/css?family=Antic Slab' rel='stylesheet'>
<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{% static 'css/cv.css' %}">
</head>
<title>
	Jacob Bradford | Website of Programmamer Jacob Bradford
</title>
<body>
<div class="bio">
<img src="https://www.w3schools.com/w3css/img_avatar3.png" alt="Avatar">	
<h1>Jacob Bradford</h1>
<h2><span class="glyphicon glyphicon-home"></span> Birmingham </h2>
<h3><span class="glyphicon glyphicon-envelope"></span> JacobBradford2312@Outlook.com</h3>	
<h4><span class="glyphicon glyphicon-phone"></span> +44 0000 0000</h4>	
</div>
<div class="content container">
{% block content %}
{% endblock %}
</div>
</div>
</div>
</body>
<div class="bottom">
Made with Django API | Hosted on Pythonanywhere
</div>
</html>