{% load static %}
<html>
<head>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link href='https://fonts.googleapis.com/css?family=Antic Slab' rel='stylesheet'>
<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{% static 'css/homepage.css' %}">
</head>
<title>
	Jacob Bradford | Website of Programmamer Jacob Bradford
</title>
<body>
<div class="page-header">
<h1><a>Jacob Bradford's Website</a></h1>
</div>
<div class="content container">
{% block content %}
{% endblock %}
</div>
</div>
</div>
</body>
<div class="bottom">
Made with Django API | Hosted on Pythonanywhere
</div>
</html>