


.page-header {
width: 80% ;
background-color: #000000;
margin: auto;
margin-bottom: -1;
padding: 20px 20px 20px 40px;
}
.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
color: #7CFC00;
font-size: 36pt;
text-decoration: none;
}
.content {
background-color: #484848;
border: 5px solid black;
width: 80% ;
}

.bio {
	float: right;
	margin-right: 12vw;
	margin-top: 10px;
	margin-bottom: 30px;
	border: 5px solid black;
	background-color: #000000;
	font-size: 1.5vw;
	color: #ffffff;
	font-family: 'Inconsolata';
	text-align: center;
}

.bio image {
	max-width: 18vw;
	max-height: 36	vh;
}

h1, h2, h3, h4 {
	color: #7CFC00;
font-family: 'Inconsolata';
}
.date {
color: #828282;
}
.save {
float: right;
}
.post-form textarea, .post-form input {
width: 100%;
}
.top-menu, .top-menu:hover, .top-menu:visited {
color: #7CFC00;
float: right;
font-size: 26pt;
margin-right: 20px;
}

.top-menu span {
	color: #7CFC000;
}

.post {
margin-bottom: 70px;
color: #ffffff;
}

.post h2 a, .post h2 a:visited {
color: #7CFC00;;
}

.bottom {
	color: #828282;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

body {
  background-color: #303030	;
}