
.bio {
background-color: #094269;
margin-top: 0;
float: left;
padding: 20px 40px 20px 40px;
margin-bottom: 100;
}

.bio h1, .bio h2, .bio h3, .bio h4, .bio img {
	
}

.bio img {
	border-radius: 50%;
}

.bio h1, .bio h2, .bio h3, .bio h4 {
color: white;
font-size: 20pt;
}

.bio h1 {
font-size: 30pt;
}

.bottom {
width: 100%;
bottom: 0;
text-align: center;
padding: 20px 40px 20px 40px;
background-color:  #094269;
color: white;
}

.content {
margin-right: 150px;	
margin-bottom: 10px;
}

.body {

}

