
.bio {
background-color: #094269;
margin-top: 0;
float: left;
padding: 1vh 2vw 1vh 2vw;
margin-bottom: 100;
}

.bio h1, .bio h2, .bio h3, .bio h4, .bio img {
	
}

.main {
	font-size: 1.5vw;
}

.bio main {
font-size: 10pt;	
}

.bio img {
	border-radius: 50%;
	max-width: 25vw;
		
	height: auto;
}

.title {

}

.bio h1, .bio h2, .bio h3, .bio h4 {
color: white;
font-size: 1.5vw;
}

.bio h1 {
font-size: 3vw;
text-align: center;
}

h2 {
	font-size: 1.2vw;
}

.bottom {
width: 100%;
bottom: 0;
text-align: center;
padding: 20px 40px 20px 40px;
background-color:  #094269;
color: white;
}
.top {
width: 100%;
bottom: 0;
text-align: center;
padding: 20px 40px 20px 40px;
background-color:  #094269;
color: white;
}

.content {
margin-right: 8vw;	
margin-bottom: 10px;
margin-top: 30px;
font-size: 20px;
}

.body {

}

